<b>Total Miles Covered By the Driver - {{totalMilesCovered}} </b>
<table class="table table-dark">
  <thead>
    <tr>
      {{#each columns as |column|}}
      <th scope="col">{{column}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
      {{#each segments as |segment|}}
    <tr class="{{segment.color}}">
      <th scope="row">{{segment.name}}</th>
      <td>{{segment.totalMilesTravelled}}</td>
      <td>{{segment.totalTimeTaken}}</td>
      <td>{{segment.startTime}}</td>
      <td>{{segment.stopTime}}</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>